.importExcelSection {
    width: 500px;
    /* height: 500px; */
    /* min-width: 500px; */
    /* min-height: 500px; */
    margin: 2rem;
    border: 2px solid #0003;
    border-radius: 0.5rem;
    padding: 2rem;
    box-shadow: 0 4px 12px #00000059;
}

.fileInput {
    display: block;
    margin-bottom: 1rem;
}

.messageBox {
    margin-top: 1rem;
    padding: 1rem;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    white-space: pre-wrap;
}