:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  /* color: var(--foreground); */
  /* background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.btn {
  --backgroundeColor: #1B9EE4;
  --backgroundeColorDisabled: lch(from var(--backgroundeColor) lightness - 10% c h);

  font-size: 0.875rem;
  display: inline-flex;
  align-items: center;

  background-color: #F8FAFC;

  padding: 0.25rem 0.75rem;
  border: none;
  border-radius: 0.25rem;
  
  &.primary {
    background-color: #1B9EE4;
    color: white;

    &:disabled {
      background-color: var(--backgroundeColorDisabled);
      cursor: not-allowed;
    }
  }
  &:disabled {
    background-color: var(--backgroundeColorDisabled);
    cursor: not-allowed;
  }
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark; 
  }
}
  */
