.page {
    --background: #fafafa;
    --foreground: #fff;

    --text-primary: #000;
    --text-secondary: #666;

    --button-primary-hover: #383838;
    --button-secondary-hover: #f2f2f2;
    --button-secondary-border: #ebebeb;

    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: var(--font-geist-sans);
    /* background-color: var(--background); */
}

.main {
    display: flex;
    min-height: 100vh;
    width: 100%;
    max-width: 800px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    /* background-color: var(--foreground); */
    padding: 120px 60px;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 24px;
}

.intro h1 {
    max-width: 320px;
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: -2.4px;
    text-wrap: balance;
    color: var(--text-primary);
}

.intro p {
    max-width: 440px;
    font-size: 18px;
    line-height: 32px;
    text-wrap: balance;
    color: var(--text-secondary);
}

.intro a {
    font-weight: 500;
    color: var(--text-primary);
}

.ctas {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 440px;
    gap: 16px;
    font-size: 14px;
}

.ctas a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding: 0 16px;
    border-radius: 128px;
    border: 1px solid transparent;
    transition: 0.2s;
    cursor: pointer;
    width: fit-content;
    font-weight: 500;
}

a.primary {
    /* background: var(--text-primary); */
    color: var(--background);
    gap: 8px;
}

a.secondary {
    /* border-color: var(--button-secondary-border); */
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
    a.primary:hover {
        /* background: var(--button-primary-hover); */
        border-color: transparent;
    }

    a.secondary:hover {
        /* background: var(--button-secondary-hover); */
        border-color: transparent;
    }
}

@media (max-width: 600px) {
    .main {
        padding: 48px 24px;
    }

    .intro {
        gap: 16px;
    }

    .intro h1 {
        font-size: 32px;
        line-height: 40px;
        letter-spacing: -1.92px;
    }
}

@media (prefers-color-scheme: dark) {
    .logo {
        filter: invert();
    }

    .page {
        /* --background: #000; */
        --foreground: #000;

        --text-primary: #ededed;
        --text-secondary: #999;

        --button-primary-hover: #ccc;
        --button-secondary-hover: #1a1a1a;
        --button-secondary-border: #1a1a1a;
    }
}

/* -- Table Container -- */

/* Centrera tabellen med wrapper */
.tableContainerWrapper {
  width: 60em;
  margin: 50px auto;
}

.tableContainer {
  width: 60em;
  margin: 10px auto;
  border-radius: 10px;
}

.table {
  width: 60em;
  height: 40em;
  border-collapse: collapse;
  margin: 0 auto;
  table-layout: fixed;
}

/* -- Table Container -- */
.tableContainer {
  border-radius: 10px;
  width: 60em;
}

/* -- Table Header -- */
.tableHeader {
  padding: 15px 15px;
  background: var(--color-light-yellow);
  border: solid 1px var(--color-yellow);
  box-sizing: border-box;
}

/* -- Table Header -- */
.tableHeaderCell {
  border: 1px solid var(--color-yellow);
  padding: 15px 2px;
  text-align: center;
  font-weight: 600;
  background: var(--color-light-yellow);
  font-size: medium;
  box-sizing: border-box;
}

/* -- Table Data -- */
.tableCell {
  border: 1px solid var(--color-yellow);
  padding: 0 6px;
  text-align: start;
  font-weight: 600;
  font-size: small;
  height: 60px;
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


.tableCell:nth-child(1), .tableHeaderCell:nth-child(1) { width: 4em; }
.tableCell:nth-child(2), .tableHeaderCell:nth-child(2) { width: 2em; }
.tableCell:nth-child(3), .tableHeaderCell:nth-child(3) { width: 16em; }
.tableCell:nth-child(4), .tableHeaderCell:nth-child(4) { width: 4em; }
.tableCell:nth-child(5), .tableHeaderCell:nth-child(5) { width: 4em; }

/* .tableCell:nth-child(1), .tableHeaderCell:nth-child(1) { width: 80px; }
.tableCell:nth-child(2), .tableHeaderCell:nth-child(2) { width: 40px; }
.tableCell:nth-child(3), .tableHeaderCell:nth-child(3) { width: 320px; }
.tableCell:nth-child(4), .tableHeaderCell:nth-child(4) { width: 80px; }
.tableCell:nth-child(5), .tableHeaderCell:nth-child(5) { width: 80px; } */

/* --- Pagination styling --- */

.paginationContainer {
    margin-top: 20px;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.paginationButton {
  padding: 6px 14px;
  border: 1px solid #ccc;
  background: #fff;
  color: #222;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
.paginationButton:hover:not(:disabled) {
  background: var(--color-light-yellow);
  color: var(--text-primary);
  border-color: var(--color-yellow);
}

.paginationButton:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.paginationButtonActive {
    padding: 6px 14px;
    border: 1px solid var(--color-yellow);
    background: var(--color-yellow, #fecb00);
    color: #000;
    border-radius: 4px;
    font-weight: bold;
    font-size: 16px;
}
