/* -- Pagination -- */

.page {
  --background: #fafafa;
  --foreground: #fff;

  --text-primary: #000;
  --text-secondary: #666;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;

  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: var(--font-geist-sans);
  background-color: var(--background);
}

.main {
  display: flex;
  min-height: 100vh;
  width: 100%;
  max-width: 800px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--foreground);
  padding: 120px 60px;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 24px;
}

.intro h1 {
  max-width: 320px;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: -2.4px;
  text-wrap: balance;
  color: var(--text-primary);
}

.intro p {
  max-width: 440px;
  font-size: 18px;
  line-height: 32px;
  text-wrap: balance;
  color: var(--text-secondary);
}

.intro a {
  font-weight: 500;
  color: var(--text-primary);
}

.ctas {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 440px;
  gap: 16px;
  font-size: 14px;
}

.ctas a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 0 16px;
  border-radius: 128px;
  border: 1px solid transparent;
  transition: 0.2s;
  cursor: pointer;
  width: fit-content;
  font-weight: 500;
}

a.primary {
  background: var(--text-primary);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--button-secondary-border);
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }
}

@media (max-width: 600px) {
  .main {
    padding: 48px 24px;
  }

  .intro {
    gap: 16px;
  }

  .intro h1 {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -1.92px;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }

  .page {
    --background: #000;
    --foreground: #000;

    --text-primary: #ededed;
    --text-secondary: #999;

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
    --button-secondary-border: #1a1a1a;
  }
}

/* -- Table Container -- */


/* Centrera tabellen med wrapper */
.tableContainerWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
  /* padding: 1px; */
}

.tableContainer {
  display: grid;
  grid-template-columns:
    minmax(100px, 0.2fr)
    minmax(100px, 0.2fr)
    minmax(250px, 1fr)
    minmax(100px, 0.2fr)
    minmax(100px, 0.2fr);
  /* gap: 0; */
  /* min-width: 50vw; */
  /* width: 650px; */
  /* min-height:650px; */
  border: 1px solid var(--color-yellow);
}


/* -- Table Header Style -- */
.tableHeader {
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: x-large;
  font-weight: 600;
  color: var(--text-primary);
  padding: 10px 20px;
  grid-column: 1 / -1;
  text-align: start;
  background: var(--color-light-yellow);
}

/* -- Table Header -- */
.tableHeaderCell {
  border: 1px solid var(--color-yellow);
  padding: 10px 15px;
  text-align: start;
  font-weight: 600;
  background: var(--color-light-yellow);
  font-size: medium;
}

/* -- Table Data -- */
.tableCell {
  border: 1px solid var(--color-yellow);
  padding: 10px 15px;
  max-width: 50vw;
  text-align: start;
  font-weight: 600;
  font-size: small;
}

/* --- Pagination styling --- */

.paginationContainer {
  margin-top: 20px;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.paginationButton {
  padding: 6px 14px;
  border: 1px solid #ccc;
  background: #fff;
  color: #222;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.2s, color 0.2s;
}

.paginationButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.paginationButtonActive {
  padding: 6px 14px;
  border: 1px solid var(--color-yellow);
  background: var(--color-yellow, #fecb00);
  color: #000;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
}