.header {
    display: flex;
    flex-direction: column;
    align-items: end;
    /* align-items: center;
    justify-content: space-between; */
    gap: 1rem;
    padding: 0.5rem;
    /* padding: 1rem 2rem; */
    background-color: #7FC8F0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    .logo {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        text-decoration: none;
        color: inherit;

        h1 {
            font-size: 1.5rem;
            color: white;
            margin: 0;
        }
    }

    nav ul {
        list-style: none;
        display: flex;
        gap: 1.5rem;
        margin: 0;
        padding: 0;
    }

    @media screen and (width > 710px) {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        padding: 1rem 2rem;
    }
}